
@{
    Layout = null;
    ViewData["Title"] = "SportsApp";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstTimeIntoApp</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />

    </head>
<body>
    <div class="row">
        <div class="container-fluid m-0 p-0" style="color: blanchedalmond; height: 25vh">

        </div>
    </div>

    <div class="row" style="background-color: lavender; height: 75vh">
        <div class="container-fluid m-0 p-0">
            
        </div>
    </div>

</body>
</html>


<style>
    .row {
        margin: 0;
        padding: 0;
    }
</style>

<script>
    src = "~/lib/bootstrap/dist/js/bootstrap.js";
    src = "~/js/site.js";
    src = "~/lib/jquery/dist/jquery.js";
</script>
