
﻿<nav id="mySideNav" class="sidenav">
     <a asp-controller="Users" asp-action="Profile" style="margin-bottom: 20px">
         <img width="100" height="100" src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/128/person-icon.png" />
     </a>
     @if (this.User.Identity.IsAuthenticated)
     {
     <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
         <button type="submit">Logout</button>
     </form> 
     }
    <a class="nai" asp-controller="Home" asp-action="Privacy">Home</a>
    <a class="nai" asp-controller="Users" asp-action="Profile">Profile</a>
    <a class="nai" asp-controller="RankList" asp-action="CurrentRankList">Rank List</a>
    <a class="nai" asp-controller="AdminEvent" asp-action="AdminViewEvent">Test Admin View Event</a>
    <a class="nai" asp-controller="Event" asp-action="ViewEvent">Test View Event</a>
   
</nav>

<style>
    .sidenav {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 25px;
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: darkblue;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
    }

    .sidenav a.nai:hover {
        color: darkblue;
        background-color: white;
    }

    button {
        background-color: darkblue;
        color: white;
        border: 0;
        margin: 0px;
        padding-left: 0px;
        padding-right: 55px;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 200px;
        height: 50px;
    }

    button:hover {
        color: darkblue;
        background-color: white;
    }
</style>