<nav id="mySideNav" class="sidenav">
    <a href="~/Users/Profile">
        <img width="100" height="100" src="http://icons.iconarchive.com/icons/graphicloads/flat-finance/128/person-icon.png" />
    </a>
    <a href="~/Home/Privacy">Home</a>
    <a href="~/Users/Profile">Profile</a>
    <a href="~/RankList/CurrentRankList">Rank List</a>
</nav>

<style>
    .sidenav {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 25px;
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        background-color: darkblue;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;
    }

    .sidenav a:hover {
        color: darkblue;
        background-color: white;
    }
</style>