
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="rating">
    <input type="radio" id="star5" name="rating" value="5" /><label for="star5"></label>
    <input type="radio" id="star4" name="rating" value="4" /><label for="star4"></label>
    <input type="radio" id="star3" name="rating" value="3" /><label for="star3"></label>
    <input type="radio" id="star2" name="rating" value="2" /><label for="star2"></label>
    <input type="radio" id="star1" name="rating" value="1" /><label for="star1"></label>
</div>


<style>
    .rating {
    }
    .rating label {
        float: right;
        position: relative;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-top: -4px
    }
    .rating label:not(:first-of-type) {
        margin-right: 14px;
    }
    .rating label:before {
        content: "\2605";
        font-size: 40px;
        color: #ccc;
        line-height: 1;
    }
    .rating input {
        display: none;
    }
    .rating input:checked ~ label:before, .rating:not(:checked) > label:hover:before, .rating:not(:checked) > label:hover ~ label:before {
        color: #f9df4a;
    }
</style>