@model Dictionary<string, int>
@{
    ViewData["Title"] = "CurrentRankList";
    Layout = null;

    byte countPlace = 1;
}

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <!-- NavBar -->
    @await Html.PartialAsync("_NavBarPartial")

    <table align="center" class="table">
        <thead style="background-color:darkblue; color:white">
            <tr>
                <th align="center">№</th>
                <th align="center">User</th>
                <th align="center">Rating</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr style="background-color: whitesmoke">
                <td align="center"> @countPlace </td>
                <td align="center"> @item.Key </td>
                <td align="center">
                    @for (int i = 0; i < item.Value; i++)
                    {
                        <img src="http://icons.iconarchive.com/icons/icons8/christmas-flat-color/128/star-icon.png" width="25" height="25" />
                    }
                </td>
            </tr>

            countPlace++;
        }        
    </table>
</body>

<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

    .con {
        margin-left: 50%;
        margin-right: 50%;
        width: 500px;
    }

    .table {
        width: 700px;
        text-align:center;
    }
    table, td {
        font-size: 25px;
    }
</style>
