@model List<PositionModel>
 
    @for (int i = 0; i < Model.Count; i++)
     {
        StarModel starModel = new StarModel(Model[i].EventId,Model[i].Aprooved);
        <div class="row">
            <h5>@Model[i].Name: </h5>
        </div>
        <div class="row">
            <button type="button" class="btn btn-danger mx-3 mb-2" data-toggle="modal" data-target="#exampleModal" style="max-width:150px">@Model[i].Aprooved.Name</button>
            @await Html.PartialAsync($"_StarRatingPartial", starModel);
            @{
                IDictionary<string, string> rv = new Dictionary<string, string>();
                rv.Add("eventId", Model[i].EventId.ToString());
                rv.Add("positionId", Model[i].Id.ToString());
            }
            @if (@Model[i].Aprooved.Name == null)
            {
                <a class="btn btn-info btn mb-2 ml-4" role="button" asp-controller="Event" asp-all-route-data="@rv" asp-action="JoinUser">Join</a>
            }
            else
            {
                <a type="button" class="btn btn-info btn mb-2 ml-4" disabled="disabled">Ready</a>
            }
        </div>
     }