
@model WebApp.Web.Models.Event.EventBindingModel
@{
    ViewData["Title"] = "EventView";
}

<h1>@ViewData["EventView"]</h1>

<nav class="navbar p-0 m-0 justify-content-center d-flex bd-highlight sticky-top" id="centerNav">
    <form class="form-inline mt-2 bd-highlight">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search events" id="searchForm">
            <div class="input-group-append">
                <button class="btn" id="searching">
                    <img src="~/images/homepage/icons8-search-48.png" style="width: 2vw" />
                </button>
            </div>
        </div>
    </form>

    <button type="button" class="btn btn-outline-info mb-2 bd-highlight" data-toggle="modal" data-target="#exampleModalCenter" style="margin-left: 4rem">
        Create Event
    </button>

    <button type="button" class="btn btn-outline-info mb-2 bd-highlight ml-3">Create Event</button>
</nav>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="EventView" method="post">
                <div class="modal-header d-flex justify-content-center">
                    <div class="form-group" style="width: 20rem">
                        <input asp-for="Name" type="text" class="form-control" id="Name" aria-describedby="NameInput" placeholder="Enter the event's name" />
                    </div>
                    @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>*@
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="eventLocation">Location</label>
                        <input asp-for="Location" type="text" class="form-control" id="eventLocation" aria-describedby="eventLocationInput" placeholder="Enter the event's location" />
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Example select</label>
                        <select asp-for="Type" @*asp-items="@(Html.GetEnumSelectList<Type>())"*@ class="form-control" id="exampleFormControlSelect1">
                            <option>Football</option>
                            <option>TableTennis</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea">Example textarea</label>
                        <textarea asp-for="Options" class="form-control" id="exampleFormControlTextarea" rows="3"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" value="Create Event" @*class="btn btn-primary" *@></>
                </div>
            </form>
        </div>
    </div>
</div>